.breadcrumbs
    .container
        ul.breadcrumbs__list
            li.breadcrumbs__item
                a.breadcrumbs__link(href='#') главная
            li.breadcrumbs__item
                a.breadcrumbs__link(href='#') Обо мне