.sidebar
    .section-title Сайдбар
    ul.acco
        li.acco__item
            a.acco__trigger(href='#') триггер 1
            ul.acco__content
                li.acco__content-item Пункт 1
                li.acco__content-item Пункт 1
                li.acco__content-item Пункт 1
                li.acco__content-item Пункт 1
        li.acco__item
            a.acco__trigger(href='#') триггер 1
            ul.acco__content
                li.acco__content-item Пункт 1
                li.acco__content-item Пункт 1
                li.acco__content-item Пункт 1
                li.acco__content-item Пункт 1
        li.acco__item
            a.acco__trigger(href='#') триггер 1
            ul.acco__content
                li.acco__content-item Пункт 1
                li.acco__content-item Пункт 1
                li.acco__content-item Пункт 1
                li.acco__content-item Пункт 1