.hero {
  height: 50vmin;
  overflow: hidden;
  position: relative;
  @media screen and (max-width: 995px) , screen and (max-height: 800px) {
    height: 80vmin;
  }
}

.hero__bg {
  top: 0;
  width: 100%;
  @include centered(x);
  &-img {
    margin-top: -480px;
  }
}

.hero__container {
  @include centered(y);
  width: 100%;
}

.hero-title-pic {
  @include centered();
}

