.user {
  text-align: center;
  @include centered();
  &__pic {
    &-container {
      // width: 147px;
      // height: 147px;
      // border-radius: 50%;
      // margin-bottom: 25px;
      overflow: hidden;
      display: inline-block;
    }
    &-wrapper {
      width: 147px;
      height: 147px;
      margin: auto;
    }
    &-img {
      border-radius: 50%;
    }
  }
}


.user__name {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 35px;
}

.user__desc {
  font-weight: 100;
  color: #ffffff;
}

