@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');


@font-face {
	font-family: 'bernier';
	src: url('../fonts/Sansus-Webissimo-Regular.ttf') format('woff');
	font-weight: normal;
	font-style: normal;
}

@mixin bernier() {
	font-family: 'bernier';
}