extends ../portfolio

block title
    | Портфолио

block content
    .wrapper
        section.l-section.l-hero
            ul.c-socials
                li.c-socials__item
                    a.c-socials__link

            .c-hero__bg
            .l-hero__container
                img.c-hero-title-pic
                .c-user
                    img.c-user__pic
                    .c-user__name
                    .c-user__occ

        section.l-section.l-about
            .l-about__col.l-about__col_left
                svg.c-about__triangle
                .c-section-title
                .c-about
                    .c-about__pic
                    .c-block-title
                    .c-block-text

            .l-about__col.l-about__col_right
                .l-skills
                    .c-block-title
                    .l-skills__text
                        p
                        p
                        p
                    ul.l-skills-group
                        li.l-skills-group__item
                            .c-skills-group__title Frontend
                            ul.l-skills-list
                                li.l-skills-list__item
                                    .c-skill
                                        svg.c-skill__circle
                                        .c-skill__title
        section.l-section.l-map